@charset "utf-8";
/* CSS Document */

body {
	background-color: beige;
}
h1 {
	background-color: saddlebrown;
	color: black;
}
h2 {
	background-color: burlywood;
	color: saddlebrown;
}
nav {
    display: flex; 
    justify-content: center; 
    padding: 30px; 
}

nav ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
    display: flex; 
    justify-content: center; 
    width: 100%; 
}

nav li {
    display: inline-block; 
    background-color: beige;
    padding: 20px;
    border: 2px solid saddlebrown;
    margin: 0 5px; 
}

nav li:active {
    background-color: saddlebrown;
}

nav li a {
    color: black;
    font-family: "CabinSketch", sans-serif;
    text-transform: uppercase;
}

nav li a:link {
    text-decoration: none;
}

nav li a:hover {
    text-decoration: underline;
}